<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.device.mapper.RoleDeviceMapper">

	<resultMap type="RoleDevice" id="RoleDeviceResult">
		<result property="roleId"     column="role_id"      />
		<result property="deviceId"     column="device_id"      />
	</resultMap>

	<delete id="deleteRoleDeviceByRoleId" parameterType="Long">
		delete from iot_role_device where role_id=#{roleId}
	</delete>
	
	<select id="selectCountRoleDeviceByDeviceId" resultType="Integer">
	    select count(1) from iot_role_device where device_id=#{deviceId}
	</select>
	
	<delete id="deleteRoleDevice" parameterType="Long">
 		delete from iot_role_device where role_id in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach> 
 	</delete>
	
	<insert id="batchRoleDevice">
		insert into iot_role_device(role_id, device_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleId},#{item.deviceId})
		</foreach>
	</insert>
	
</mapper> 