/* 自定义样式 20250208创建 */

/* 设置超出内容隐藏并显示省略号 */
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-collapse {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin-top: 10px;
    /*padding-top: 5px;*/
    /*padding-bottom: 13px;*/
    padding-top: 8px;
    padding-bottom: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}